/* 화면이 600px 이하일 때 */
@media screen and (max-width: 600px) {
  /* 컴포넌트의 크기를 조절하는 스타일 */
}

/* 화면이 600px 이상이고 900px 이하일 때 */
@media screen and (min-width: 601px) and (max-width: 900px) {
  /* 컴포넌트의 크기를 조절하는 스타일 */
}

/* 화면이 900px 이상일 때 */
@media screen and (min-width: 901px) {
  /* 컴포넌트의 크기를 조절하는 스타일 */
}

.login-button {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 10px;
}

.login {
  cursor: pointer;
}

.image {
  cursor: pointer;
}

.main-logo {
  display: flex;
  justify-content: center;
}

.menu-area {
  display: flex;
  justify-content: center;
}

.menu-list {
  display: flex;
  list-style-type: none;
  /* justify-content: center; */
}

.menu-list li {
  padding: 10px;
}

.search {
  border-bottom: 1px solid black;
  position: absolute;
  right: 30px;
  padding: 10px;
}

.search input {
  border: none;
  width: 150px;
  margin-left: 5px;
}

.card {
  width: 50%;
  height: 50%;
}

.emailpw {
  width: 300px;
}

.contain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.product-img {
  display: flex;
  justify-content: flex-end;
  width: 360px;
  height: 640px;
}

.scale {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition: all 0.3s ease-in-out; /* 부드러운 모션을 위해 추가*/
}
.scale:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.scale img {
  width: 200px;
  height: 200px;
  display: inline-block;
  background: crimson;
}
